<div class="filter">
  <h2>Filters</h2>
  <label>
    <div class="custom-select-wrapper">
      <select [(ngModel)]="filter.movie" class="custom-select" #movieSelect (click)="toggleSelect(movieSelect)">
        <option value="">All Movies</option>
        <option *ngFor="let movie of movies" [value]="movie">{{ getFilmName(movie) }}</option>
      </select>
    </div>
  </label>
  <label>
    <div class="custom-select-wrapper">
      <select [(ngModel)]="filter.species" class="custom-select" #speciesSelect (click)="toggleSelect(speciesSelect)">
        <option value="">All Species</option>
        <option *ngFor="let specie of species" [value]="specie">{{ getSpecieName(specie) }}</option>
      </select>
    </div>
  </label>
  <label>
    <div class="custom-select-wrapper">
      <select [(ngModel)]="filter.vehicle" class="custom-select" #vehicleSelect (click)="toggleSelect(vehicleSelect)">
        <option value="">All Vehicles</option>
        <option *ngFor="let vehicle of vehicles" [value]="vehicle">{{ getVehicleName(vehicle) }}</option>
      </select>
    </div>
  </label>
  <label>
    <div class="custom-select-wrapper">
      <select [(ngModel)]="filter.starship" class="custom-select" #starshipSelect (click)="toggleSelect(starshipSelect)">
        <option value="">All Starships</option>
        <option *ngFor="let starship of starships" [value]="starship">{{ getStarshipName(starship) }}</option>
      </select>
    </div>
  </label>
  <label>
    Birth Year From:
    <div class="custom-select-wrapper">
      <select [(ngModel)]="filter.birthYearRange.start" class="custom-select" #birthYearStartSelect (click)="toggleSelect(birthYearStartSelect)">
        <option value="">Any</option>
        <option *ngFor="let year of birthYears" [value]="year">{{ year }}</option>
      </select>
    </div>
  </label>
  <label>
    Birth Year To:
    <div class="custom-select-wrapper">
      <select [(ngModel)]="filter.birthYearRange.end" class="custom-select" #birthYearEndSelect (click)="toggleSelect(birthYearEndSelect)">
        <option value="">Any</option>
        <option *ngFor="let year of birthYears" [value]="year">{{ year }}</option>
      </select>
    </div>
  </label>
  <button class="apply-button" (click)="applyFilter()">Apply Filters</button>
</div>
