.filter-section {
    margin-bottom: 20px;
  }
  
  .character-list {
    display: flex;
    flex-direction: column;
  }
  
  .character-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .character-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .app-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
  }
  
  header {
    background-color: #004d40;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  .main-content {
    display: flex;
    padding: 20px;
  }
  
  .filter-section {
    width: 25%;
    margin-right: 20px;
  }
  
  .character-list-section {
    width: 75%;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .custom-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .pagination-button {
    background-color: #004d40; /* Green background */
    color: white; /* White text */
    border: 1px solid #4CAF50; /* Green border */
    padding: 10px 20px; /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px; /* Adjust margin between buttons */
  }
  
  .pagination-button:hover:not([disabled]) {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .pagination-info {
    margin: 0 10px; /* Adjust margin around page info */
    font-size: 16px; /* Adjust font size */
  }
  